@inherits IndexViewModel
@page "/servers"

<PageTitle>Servers</PageTitle>

<h1>Servers</h1>

<ul>
    @foreach (var server in this.GameServerService.GetServers())
    {
        <li>
            <strong>@server.Name</strong>
            @server.ListenPort
        </li>
    }
</ul>
